.app__signup {
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
}
.app__loginContainer {
  margin-top: 40vh;
  margin-left: 39vw;
}
.btn {
  margin: 2rem;
}
.google {
  background-color: #dd4b39;
  border: 0;
  height: 3em;
  width: 3em;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
